@import 'mixins'

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0


.dev
  height 40%
  position relative
  overflow hidden

.dev-link
  height 100%
  display block
  filter url(filters/gray.svg)
  filter gray
  -webkit-filter grayscale(1)

  &:hover
    filter none
    filter none
    -webkit-filter none

    .dev-text
      opacity 1

.dev-text
  display block
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  margin auto
  height 1em

  opacity 0
  transition opacity .5s

  font-size 8vw
  font-family "lucida console", monospace
  color #fff
  text-align center
  line-height 1

.brand
  height 20%

  background #303030

  border .25em solid #333
  border-left none
  border-right none

  color #fff
  text-align center

.photo
  @extend .dev
  background #333

.photo-link
  @extend .dev-link

  &:hover
    .photo-text
      opacity 1

.photo-text
  @extend .dev-text


html, body
  height 100%
